body .container {
    max-width: 1300px;
}

.navbar-brand {
    max-width: 200px;
}

.hide_me {
    display: none;
}

.add_btn {
    padding: 4px 22px;
    border-radius: 20px;
    border: 1px solid #8b8b8b;
    background-color: #fff;
}

.cart_box .cart_btn {
    color: #000;
}

.menu_side_box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_side_box a i {
    display: inline-block;
    margin-right: 8px;
}

.table {
    border: 1px solid #dbdbdb;
}